* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    user-select: none;
    box-sizing: border-box;
}

body {
    
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(175, 159, 202);
    height: 100vh;
}

.slider-wrapper {
    
    width: 80rem;
    height: 375px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    position: absolute;
    overflow: hidden;
}

 .slider-inner {
    
    position: absolute;
    top: 0;
    left: -10px;
    display: flex;
    pointer-events: none;
    transition: .4s ease-out;
}

.slider-item {
    margin: 0 15px;
    width: 250px;
    height: 375px;
}

.slider-item img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.slider-wrapper .prev,
.slider-wrapper .next {
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    line-height: 58px;
    border-radius: 50%;
   
    color: black;
    font-size: 40px;
    cursor: pointer;
}

.slider-wrapper .prev {
    left: 10px;
}

.slider-wrapper .next {
    right: 10px;
}

@media (max-width: 768px) {
    .slider-wrapper {
        left: 0;
    }

    .slider-wrapper .prev,
    .slider-wrapper .next {
        display: none;
    }
}
